/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
@import "../node_modules/bootstrap/scss/bootstrap";
* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #3FC060;
    --secondary-color: #162328;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}