/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #3FC060;
    --secondary-color: #162328;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}